<nav>
    <a routerLink="/table/basic-table" routerLinkActive="router-link-active">Basic</a>
    <a routerLink="/table/dyamic-table" routerLinkActive="router-link-active">Dyamic</a>
    <a routerLink="/table/curd-table" routerLinkActive="router-link-active">Table CURD</a>
    <a routerLink="/table/reoder-table" routerLinkActive="router-link-active">Reoder Table</a>
    <a routerLink="/table/rowgroup-table" routerLinkActive="router-link-active">RowGroup Table</a>
    <a routerLink="/table/export-table" routerLinkActive="router-link-active">Export Table</a>
    <a routerLink="/table/state-table" routerLinkActive="router-link-active">State Table</a>
    <a routerLink="/table/edit-table" routerLinkActive="router-link-active">Edit Table</a>
</nav>
<router-outlet></router-outlet>
