<nav>

    <a routerLink="/inputwijmo/autocomplete" routerLinkActive="router-link-active">Autocomplete</a>
    <a routerLink="/inputwijmo/calendar" routerLinkActive="router-link-active">Calendar</a>
    <a routerLink="/inputwijmo/combobox" routerLinkActive="router-link-active">Combobox</a>
    <a routerLink="/inputwijmo/multi-selectcontrol" routerLinkActive="router-link-active">MultiSelect Control</a>
    <a routerLink="/inputwijmo/label-input" routerLinkActive="router-link-active">Labeled Input</a>
</nav>
<router-outlet></router-outlet>
